<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resources/jet24.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <title>login</title>
</head>
<body>
    <div class="login-dark-overlay"></div>
    <div class="row login-info-panel">
        <div class="col-lg-6">
            <img src="resources/jet512.png" class="login-image" alt="">
        </div>
        <div class="col-lg-6">
            <div class="login-main-text">
                <h1>Connecting people all around</h1>
            </div>
            <div class="login-sub-text">
                <h4><span class="login-sub-text-emphasis">WebJet</span> is about bringing everybody closer at the speed of light with a good focus on 
                    <span class="login-sub-text-emphasis">security</span> and <span class="login-sub-text-emphasis">reliability</span>. Signup and enjoy all we have to offer today.</h4>
            </div>
            <a href="/auth/google" class="login-google-btn">
                <img src="/resources/btn_google_signin_light_normal_web.png" alt="">
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>